<h1><%= t('.title') %></h1>

<div class="row-fluid">
  <div class="span8">
    <%= form_tag do %>
    <table class="table table-striped">
      <%- if @templates.empty? %>
      <tr>
        <th><%= t('.no_templates_found') %></th>
      </tr>
      <%- else %>
      <thead>
      <%= render "delete_button" %>
      <tr>
        <%- %w(name mailer action subject from reply_to enabled only_text).each do |attr| %>
          <th><%= Nisetegami::Template.human_attribute_name(attr) %></th>
        <% end %>
        <th><%= t('.edit') %></th>
        <th><%= t('.delete') %></th>
      </tr>
      </thead>
      <tbody>
        <%- @templates.map { |t| Nisetegami::TemplatePresenter.new(t) }.each do |t| %>
        <tr>
          <%- %w(name mailer action subject from reply_to enabled only_text).each do |attr| %>
            <td><%= t.send(attr) %></td>
          <% end %>
          <td><%= link_to t('.edit'), edit_template_path(t) %></td>
          <td><%= check_box_tag 'template_ids[]', t.id %></td>
        </tr>
        <% end %>
        <%= render "delete_button" %>
      </tbody>
      <% end %>
    </table>
    <% end %>
  </div>

  <div class="span4">
    <%= render 'filters' %>
  </div>
</div>
