<!DOCTYPE html>
<html>
<head>
  <title><%= t('nisetegami.admin.title') %></title>
  <%= stylesheet_link_tag    "nisetegami/application", :media => "all" %>
  <%= javascript_include_tag "nisetegami/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <% flash.each do |kind, value| %>
    <div class="alert alert-<%= kind == :alert ? 'error' : 'success' %>">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <% if kind == :alert %>
        <strong><%= t('nisetegami.flash.alert') %>:</strong> <%= value %>
      <% else %>
          <%= value %>
      <% end %>
    </div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
